.label {
-fx-font-size: 18px;

}
.title {
-fx-font-size: 24px;
-fx-font-weight: bold;
-fx-padding: 0 0 25 0;
}
.new-lesson-lbl {
-fx-padding: 0 0 25 0;
}

.new-lesson-entry {

}

.button {
    -fx-font-size: 30px;
}

.title-lbl {
    -fx-font-family: sans-serif;
    -fx-text-fill: #008b8b;
    -fx-font-size: 45px;
}

.highlight-unpaid {
    -fx-background-color: #C60000;
    -fx-text-background-color: #FFFFFF;
}